configuration {
  display-drun: "Applications";
  display-window: "Windows";
  display-ssh: "Session History";
  drun-display-format: "{icon} {name}";
  modi: "window,drun,ssh,emoji,calc";
  show-icons: true;
  icon-theme: "Oranchelo";
}

@theme "./themes/catppuccin-frappe.rasi"
